{{ hostvars[inventory_hostname][type].node_groups[switch_data.group].mlag_ip_primary | ansible.netcommon.ipaddr('peer') }}/{{ hostvars[inventory_hostname][type].node_groups[switch_data.group].mlag_ip_primary | ansible.netcommon.ipaddr('prefix') }}
